MathClientConsole/Connected Services/MathService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MathService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Prime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumTuple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MathService" minOccurs="0" name="tuple" nillable="true" type="q1:Tuple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumTupleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MathService" minOccurs="0" name="SumTupleResult" nillable="true" type="q2:Tuple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveLinearSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coefficients" nillable="true" type="q3:ArrayOfArrayOfdouble" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="constants" nillable="true" type="q4:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveLinearSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SolveLinearSystemResult" nillable="true" type="q5:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>