MathClientConsole/Connected Services/MathService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Math" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMath_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MathService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMath_Prime_InputMessage">
    <wsdl:part name="parameters" element="tns:Prime" />
  </wsdl:message>
  <wsdl:message name="IMath_Prime_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMath_SumTuple_InputMessage">
    <wsdl:part name="parameters" element="tns:SumTuple" />
  </wsdl:message>
  <wsdl:message name="IMath_SumTuple_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumTupleResponse" />
  </wsdl:message>
  <wsdl:message name="IMath_SolveLinearSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:SolveLinearSystem" />
  </wsdl:message>
  <wsdl:message name="IMath_SolveLinearSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolveLinearSystemResponse" />
  </wsdl:message>
  <wsdl:portType name="IMath">
    <wsdl:operation name="Prime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMath/Prime" message="tns:IMath_Prime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMath/PrimeResponse" message="tns:IMath_Prime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumTuple">
      <wsdl:input wsaw:Action="http://tempuri.org/IMath/SumTuple" message="tns:IMath_SumTuple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMath/SumTupleResponse" message="tns:IMath_SumTuple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolveLinearSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IMath/SolveLinearSystem" message="tns:IMath_SolveLinearSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMath/SolveLinearSystemResponse" message="tns:IMath_SolveLinearSystem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMath" type="tns:IMath">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Prime">
      <soap:operation soapAction="http://tempuri.org/IMath/Prime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumTuple">
      <soap:operation soapAction="http://tempuri.org/IMath/SumTuple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolveLinearSystem">
      <soap:operation soapAction="http://tempuri.org/IMath/SolveLinearSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IMath" type="tns:IMath">
    <wsp:PolicyReference URI="#NetTcpBinding_IMath_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Prime">
      <soap12:operation soapAction="http://tempuri.org/IMath/Prime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumTuple">
      <soap12:operation soapAction="http://tempuri.org/IMath/SumTuple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolveLinearSystem">
      <soap12:operation soapAction="http://tempuri.org/IMath/SolveLinearSystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Math">
    <wsdl:port name="BasicHttpBinding_IMath" binding="tns:BasicHttpBinding_IMath">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MathService/Math/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IMath" binding="tns:NetTcpBinding_IMath">
      <soap12:address location="net.tcp://localhost:8082/Math" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8082/Math</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-R0I7G84\Usuario</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>